body {
    margin:0;
    padding:0;
    font-family: Arial;
}
#map {
	position: absolute;
	top: 0;
	bottom: 0px;
	width: 100%;
}
#crosshairs {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -63px;
	margin-top: -63px;
	opacity: 0.2;
	filter: alpha(opacity=20); /* For IE8 and earlier */
	pointer-events: none;
    z-index: 2000;
    display: inline-block;
    display: none;
}
#crosshairs img {
    -webkit-transform: rotateX(60deg); /* Chrome, Safari, Opera  */
    transform: rotateX(60deg);
}
#loading_screen {
    text-align: center;
    position: absolute;
    top: 100px;
    z-index: 3000;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    display: none;
}
#loading_info_note {
    display: inline-block;
    background: white;
    border: 3px solid grey;
    padding: 15px;
}
#game_interface {
    // visibility: hidden;
}
#ok_button {
    margin-top:10px;
    height: 40px;
    width: 100px;
}
#waiting_for_location {
    display: none;
}
#debug {
    z-index: 2000;
    position: absolute;
    top: 5px;
    right: 5px;
}
